<html>
    <head>
        <link rel="stylesheet" href="">
    </head>

    <body>
        <nav class="nav1">
            <img class="logo" >
            <p class="Title">United States</p>
        <ul>           
            <li><a href="#">Partner central</a></li>
            <li><a class="vr" href="#">|</a></li>
            <li><a href="#">Training</a></li>    
            <li><a class="vr" href="#">|</a></li>      
            <li><a href="#">Community</a></li> 
            <li><a class="vr" href="#">|</a></li>
            <li><a href="#">Store</a></li> 
            <input class="search" type="text" placeholder="Search ">
        </ul>         
        </nav>
    </body>
</html>