.icons {
    text-align: center;
}

.material-icons {
    font-size: 500px;
    //color: green;
}

a:link, a:visited {
    
    color: rgb(34, 157, 214);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .icons {
      .link {
        margin: 40px 80px 0px 0px;
      }
  }
  .response{
    color:grey;
  }